{% extends "base.html" %}
{% block title %}Administración{% endblock %}
{% block h1 %}Panel de administración{% endblock %}
{% block main_content %}

<section class="ftco-section">
<div class="container">

<div class="container-xxl py-5">
    <div class="container">
    <div class="row g-5">
        <div class="col-lg-6">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
                <a href="{{ url_for('gestion_usuarios') }}">Gestionar usuarios</a>
                <br>
                <a href="">Gestionar reservas</a>
                <br>
                <a href="">Gestionar promociones</a>
                <br>
                <a href="">Gestionar opiniones</a>
                <br>
                <a href="">Gestionar mensajes de contacto</a>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<script src="{{url_for('static',filename='js/jspassw.js')}}"></script>

{% endblock %}