{% extends "base.html" %}
{% block title %}Habitación Deluxe{% endblock %}
{% block h1 %}Deluxe{% endblock %}
{% block main_content %}
    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
          	<div class="row">
          		<div class="col-md-12 ftco-animate">
          			<h2 class="mb-4">Habitación Deluxe</h2>
          			<div class="single-slider owl-carousel">
          				<div class="item">
          					<div class="room-img" style="background-image: url({{url_for('static',filename='images/room-2.jpg')}});"></div>
          				</div>
          				<div class="item">
          					<div class="room-img" style="background-image: url({{url_for('static',filename='images/bathroom-2.jpg')}});"></div>
          				</div>
          				<div class="item">
          					<div class="room-img" style="background-image: url({{url_for('static',filename='images/room-6.jpg')}});"></div>
          				</div>
          			</div>
          		</div>
          		<div class="col-md-12 room-single mt-4 mb-5 ftco-animate">
    						<p>Nuestras lujosas Habitaciones Deluxe ofrecen todo lo que necesita para unas vacaciones de ensueño.
							Con capacidad para hasta 6 personas, estas habitaciones incluyen todas las comodidades que puede necesitar, 
							como baño privado, television por cable, Wi-Fi Gratis, teléfono, microondas y aire acondicionado.
							Además ofrecen impresionantes vistas al lago desde dos balcones privados. Disfrute de una cocina completa, 
							jacuzzi privado y acceso exclusivo al cerro, donde podrá practicar deportes de nieve. 
							Sumérjase en la experiencia definitiva de lujo y comodidad durante su estancia con nosotros. 
							</p>
    						<div class="d-md-flex mt-5 mb-5">
    							<ul class="list">
	    							<li><span><strong>Máxima Capacidad:</strong></span> 6 Personas</li>
	    							<li><span><strong>Camas:</strong></span> 6 individuales o 3 matrimonial</li>
	    						</ul>
							</div>
						<div class="container">
							<div class="row">
								<div class="col-lg-12">
										<div class="btn-reserva">
											<a href="{{ url_for('reservaciones') }}"><button type="button" class="btn btn-primary btn-estilo btn-blanco">Reservar<i class="bi bi-bookmark-fill" style="margin-left: 0.2cm; font-size: medium;"></i></button></a>
										</div>
								</div>
								</div>
							</div>
						</div>
						<div class="amenities">
							<h3>Amenities</strong></h3>
							<div class="columnas">
								<ul class="list">
									<li><img class="icons" src="{{ url_for('static', filename='images/icon-8.png') }}">Desayuno Incluido</li>
									<li><img class="icons" src="{{ url_for('static', filename='images/icon-1.png') }}">Gimnasio</li>
									<li><img class="icons" src="{{ url_for('static', filename='images/icon-2.png') }}">Atención 24hs</li>
									<li><img class="icons" src="{{ url_for('static', filename='images/icon-3.png') }}">Televisión por cable</li>
									<li><img class="icons" src="{{ url_for('static', filename='images/icon-4.png') }}">Comedor y Bar</li>
									<li><img class="icons" src="{{ url_for('static', filename='images/icon-5.png') }}">Servicio de Limpieza</li>
									<li><img class="icons" src="{{ url_for('static', filename='images/icon-6.png') }}">Wi-FI Gratis</li>
									<li><img class="icons" src="{{ url_for('static', filename='images/icon-7.png') }}">Servicio de Transporte</li>
									<li><img class="icons" src="{{ url_for('static', filename='images/icon-9.png') }}">Estacionamiento</li>

								</ul>
							</div>
          		<div class="col-md-12 room-single ftco-animate mb-5 mt-4">
          			<h3 class="mb-4">Tomemos un tour</h3>
          			<div class="block-16">
		              <figure>
		                <img src="{{url_for('static',filename='images/room-2.jpg')}}" alt="Image placeholder" class="img-fluid">
		                <a href="{{url_for('static', filename='images/video-hab.mp4')}}" class="play-button popup-vimeo"><span class="icon-play"></span></a>
		              </figure>
		            </div>
          		</div>

          		<div class="col-md-12 room-single ftco-animate mb-5 mt-5">
          			<h4 class="mb-4">También te podrían interesar...</h4>
          			<div class="row">
          				<div class="col-sm col-md-6 ftco-animate">
                                <div class="room">
                                    <a href="{{url_for('habitacion_simple')}}" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{url_for('static',filename='images/room-7.jpg')}});">
                                        <div class="icon d-flex justify-content-center align-items-center">
                                            <span class="icon-search2"></span>
                                        </div>
                                    </a>
                                    <div class="text p-3 text-center">
                                        <h3 class="mb-3"><a href="{{url_for('habitacion_simple')}}"">Habitación Simple</a></h3>
                                        <p><span class="price mr-2">$25.00</span> <span class="per">por noche</span></p>
                                        <hr>
                                        <p class="pt-1"><a href="{{url_for('habitacion_simple')}}" class="btn-custom">Ver detalles <span class="icon-long-arrow-right"></span></a></p>
                                    </div>
                                </div>
				    			</div>
				    			<div class="col-sm col-md-6 ftco-animate">
				    				<div class="room">
				    					<a href="{{url_for('habitacion_master')}}" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url({{url_for('static',filename='images/room-8.jpg')}});">
				    						<div class="icon d-flex justify-content-center align-items-center">
				    							<span class="icon-search2"></span>
				    						</div>
				    					</a>
				    					<div class="text p-3 text-center">
				    						<h3 class="mb-3"><a href="{{url_for('habitacion_master')}}"">Habitación Master</a></h3>
				    						<p><span class="price mr-2">$35.00</span> <span class="per">por noche</span></p>
				    						<hr>
				    						<p class="pt-1"><a href="{{url_for('habitacion_master')}}" class="btn-custom">Ver detalles <span class="icon-long-arrow-right"></span></a></p>
				    					</div>
				    				</div>
				    			</div>
          			</div>
          		</div>

          	</div>
          </div> 
          </div>
        </div>
      </div>
    </section> 
{% endblock %}