{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block h1 %}Log in{% endblock %}
{% block main_content %}

<section class="ftco-section">
<div class="container">

<!-- Login Start -->
<div class="container-xxl py-5">
    <img class="logo" src="{{url_for('static', filename='images/logo-1.png')}}">
    <div class="container">
    <div class="row g-5">
        <div class="col-lg-6">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
                <form action="{{ url_for('login') }}" method="post">
                    {% with mensajes = get_flashed_messages()%}
                    {% if mensajes%}
                        {% for mensaje in mensajes%}
                        <p>{{mensaje}}</p>
                        {%endfor%}
                        {%endif%}
                        {%endwith%}
                        <div class="col-12">
                            <div class="form-floating date" id="date4" data-target-input="nearest">
                                <input name="user" type="text" class="form-control" placeholder="Usuario">
                                <label for="#">Tu usuario</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="password-container" id="date4" data-target-input="nearest">
                                <input name="contra" type="password" class="form-control" placeholder="Contraseña" id="password">
                                <button type="button" id="togglePassword" class="btn btn-secondary">Mostrar</button>
                                <label for="#">Tu contraseña</label>
                            </div>
                        </div>
                        <div class="col-12" style="margin-top: 55px;">
                            <button class="btn btn-primary w-100 py-3 btn-blanco" type="submit">Ingresar</button>
                            
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<!-- Login End -->

<script src="{{url_for('static',filename='js/jspassw.js')}}"></script>

{% endblock %}