{% extends "base.html" %}
{% block title %}Mis Reservas{% endblock %}
{% block h1 %}Mis Reservas{% endblock %}
{% block main_content %}
    <section class="ftco-section bg-light">
        {% with mensajes = get_flashed_messages()%}
            {% if mensajes%}
                {% for mensaje in mensajes%}
                    <h2>{{mensaje}}</h2>
                {%endfor%}
            {%endif%}
        {%endwith%}
        <div class="container">
            {% if reservas %}
                <div class="row">
                    {% for info in reservas %}
                        <div class="col-md-4 ftco-animate">
                            <div class="room">
                                <!-- Aquí puedes mostrar los detalles de la reserva -->
                                <div class="text p-3 text-center">
                                    <h3 class="mb-3">Reserva Nº{{ loop.index }}</h3>
                                    <p>Tipo habitación: {{ info['tipo_habitacion'] }}</p>
                                    <p>Habitación: {{ info['habitacion'] }}</p>
                                    <p>Entrada: {{ info['entrada'][:-13] }}</p>
                                    <p>Salida: {{ info['salida'][:-13] }}</p>
                                    <p>Valor: ${{ info['valor'] }} US</p>
                                    <p>Huéspedes: {{ info['huespedes'] }}</p>
                                    <a style="color: red" href="{{url_for('cancelar_reserva' ,id=info['numero'])}}">Cancelar reserva</a>
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
            {% else %}
                <p>No tienes reservas actualmente.</p>
            {% endif %}
        </div>
    </section>
{% endblock %}