{% extends "base.html" %}
{% block title %}Mis Reservas{% endblock %}
{% block h1 %}Mis Reservas{% endblock %}
{% block main_content %}
    <section class="ftco-section bg-light">
        <div class="container">
            {% if reservas %}
                <div class="row">
                    {% for reserva in reservas %}
                        <div class="col-md-4 ftco-animate">
                            <div class="room">
                                <!-- Aquí puedes mostrar los detalles de la reserva -->
                                <div class="text p-3 text-center">
                                    <h3 class="mb-3">{{ reserva.tipo_habitacion }}</h3>
                                    <p>Habitación: {{ reserva.habitacion }}</p>
                                    <p>Entrada: {{ reserva.entrada }}</p>
                                    <p>Salida: {{ reserva.salida }}</p>
                                    <p>Valor: ${{ reserva.valor }}</p>
                                    <p>Huéspedes: {{ reserva.huespedes }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No tienes reservas actualmente.</p>
            {% endif %}
        </div>
    </section>
{% endblock %}