{% extends "base.html" %}
{% block title %}Reservas{% endblock %}
{% block h1 %}Reservas{% endblock %}
{% block main_content %}

<section class="ftco-section">
<div class="container">

<!-- Booking Start -->
<div class="container-xxl py-5">
    <div class="container">
    <div class="row g-5">
        <div class="col-lg-6">
                <div class="room-img" style="background-image: url({{url_for('static',filename='images/room-7.jpg')}});"></div>
             
        </div>
        <div class="col-lg-6">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
                {% if session['usuario'] %}
                <form action="{{url_for('reservaciones')}}" method="post">
                    <input name="usuario" type="text" value="{{ session['id'] }}" hidden> <!--No sacar!!!!-->
                        <div class="col-12">
                            <div class="form-floating date" id="date4" data-target-input="nearest">
                                <label for="#">Fecha de Check In</label>
                                <input name="entrada" type="date" placeholder="Check In">
                            </div>
                        </div>
                            
                        </div>
                        <div class="col-12">
                            <div class="form-floating date" id="date4" data-target-input="nearest">
                                <label for="#">Fecha de Check Out</label>
                                <input name="salida" type="date" placeholder="Check Out">
                            </div>
                        </div>
                        <div class="col-12"  style="margin-top: 40px;">
                            <div class="form-floating" style="font-size: large;">
                                <select class="form-select" id="select1" name="huespedes" style="margin-right: 0.5cm;">
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                </select>
                                <label for="select1">Cantidad de personas</label>
                              </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="form-floating" style="font-size: large;">
                                <select class="form-select" id="select3", name="tipo" style="margin-right: 0.5cm;">
                                  <option value="simple">Simple</option> <!--¿Cambiar valores por "simple", "master" y "deluxe"?-->
                                  <option value="master">Master</option>
                                  <option value="deluxe">Deluxe</option>
                                </select>
                                <label for="select3">Seleccioná el tipo de habitación</label>
                              </div>
                              {% with mensajes = get_flashed_messages()%}
                              {% if mensajes%}
                                  {% for mensaje in mensajes%}
                                    {% if mensaje == 'La reserva fue realizada correctamente!' %}
                                        <div class="alert alert-success" role="alert" style="margin-top: 1cm; margin-bottom: 0px;">
                                            {{ mensaje }}
                                            <p>Puede ver los detalles en el apartado de <a href="{{url_for('mis_reservas')}}" style="color:green; text-decoration: underline;">Mis Reservas</a></p>
                                        </div>
                                    {% else %}
                                        <div class="alert alert-warning" role="alert" style="margin-top: 1cm; margin-bottom: 0px;">
                                            {{ mensaje }}
                                        </div>
                                    {%endif%}
                                  {%endfor%}
                                  {%endif%}
                                  {%endwith%}     
                        </div>
                        <div class="col-12" style="margin-top: 55px;">
                            <button class="btn btn-primary w-100 py-3 btn-blanco" type="submit">Reservar</button>
                        </div>
                </form>
                {% else %}
                <h2>Debe iniciar sesión para hacer una reserva:</h2>
                <a href="{{ url_for('login') }}"><input type="submit" value="Iniciar sesión" class="btn btn-primary btn-blanco py-3 px-4 align-self-stretch"></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</section>
<!-- Booking End -->

<section class="ftco-section bg-light">
    <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2 class="mb-4">Nuestras habitaciones</h2>
      </div>
    </div>    		
        <div class="row">
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="{{url_for('habitaciones')}}" class="img d-flex justify-content-center align-items-center" style="background-image: url({{url_for('static', filename = 'images/room-7.jpg')}});">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="{{url_for('habitaciones')}}">Simple</a></h3>
                        <p><span class="price mr-2">$25.00</span> <span class="per">por noche</span></p>
                        <hr>
                        <p class="pt-1"><a href="{{url_for('habitacion_simple')}}" class="btn-custom">Ver detalles <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="{{url_for('habitaciones')}}" class="img d-flex justify-content-center align-items-center" style="background-image: url({{url_for('static', filename = 'images/room-8.jpg')}});">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="{{url_for('habitaciones')}}">Master</a></h3>
                        <p><span class="price mr-2">$35.00</span> <span class="per">por noche</span></p>
                        <hr>
                        <p class="pt-1"><a href="{{url_for('habitacion_master')}}" class="btn-custom">Ver detalles <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="{{url_for('habitaciones')}}" class="img d-flex justify-content-center align-items-center" style="background-image: url({{url_for('static', filename = 'images/room-2.jpg')}});">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="{url_for('habitaciones')}">Deluxe</a></h3>
                        <p><span class="price mr-2">$80.00</span> <span class="per">por noche</span></p>
                        <hr>
                        <p class="pt-1"><a href="{{url_for('habitacion_deluxe')}}" class="btn-custom">Ver detalles <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}