{% extends "base.html" %}
{% block title %}Reservas{% endblock %}
{% block h1 %}Reservas{% endblock %}
{% block main_content %}

<section class="ftco-section">
<div class="container">

<!-- Booking Start -->
<div class="container-xxl py-5">
    <div class="container">
    <div class="row g-5">
        <div class="col-lg-6">
            <div class="row g-3">
                <div class="col-md-12 ftco-animate">
                    <div class="single-slider owl-carousel">
                        <div class="item">
                            <div class="room-img" style="background-image: url({{url_for('static',filename='images/room-7.jpg')}});"></div>
                        </div>
                        <div class="item">
                            <div class="room-img" style="background-image: url({{url_for('static',filename='images/room-2.jpg')}});"></div>
                        </div>
                        <div class="item">
                            <div class="room-img" style="background-image: url({{url_for('static',filename='images/room-8.jpg')}});"></div>
                        </div>
                        <div class="item">
                            <div class="room-img" style="background-image: url({{url_for('static',filename='images/hotel-1.jpg')}});"></div>
                        </div>
                        <div class="item">
                            <div class="room-img" style="background-image: url({{url_for('static',filename='images/bathroom-2.jpg')}});"></div>
                        </div>
                        <div class="item">
                            <div class="room-img" style="background-image: url({{url_for('static',filename='images/bathroom-1.jpg')}});"></div>
                        </div>
                        <div class="item">
                            <div class="room-img" style="background-image: url({{url_for('static',filename='images/room-9.jpg')}});"></div>
                        </div>
                        <div class="item">
                            <div class="room-img" style="background-image: url({{url_for('static',filename='images/hotel-2.jpg')}});"></div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="col-lg-6">
            <div class="wow fadeInUp" data-wow-delay="0.2s">
                <form action="{{url_for('reservaciones')}}" method="post"> <!--Cambiar si necesario, link provisorio-->
                    
                        <div class="col-12">
                            <div class="form-floating date" id="date4" data-target-input="nearest">
                                <input name="fecha-check-in" type="text" class="form-control checkin_date" placeholder="Check In">
                                <label for="#">Fecha de Check In</label>
                            </div>
                        </div>
                            
                        </div>
                        <div class="col-12">
                            <div class="form-floating date" id="date4" data-target-input="nearest">
                                <input name="fecha-check-out" type="text" class="form-control checkin_date" placeholder="Check Out">
                                <label for="#">Fecha de Check Out</label>
                            </div>
                        </div>
                        <div class="col-12"  style="margin-top: 40px;">
                            <div class="form-floating" style="font-size: large;">
                                <select class="form-select" id="select1" style="margin-right: 0.5cm;"> <!--Cambiar por type='number' ?-->
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                  <option value="6">6</option>
                                </select>
                                <label for="select1">Cantidad de personas</label>
                              </div>
                        </div>
                        
                        <div class="col-12">
                            <div class="form-floating" style="font-size: large;">
                                <select class="form-select" id="select3" style="margin-right: 0.5cm;">
                                  <option value="1">Simple</option> <!--¿Cambiar valores por "simple", "master" y "deluxe"?-->>
                                  <option value="2">Master</option>
                                  <option value="3">Deluxe</option>
                                </select>
                                <label for="select3">Seleccioná el tipo de habitación</label>
                              </div>
                              
                        </div>
                        <div class="col-12" style="margin-top: 55px;">
                            <button class="btn w-100 py-3" type="submit" style="background: #8d703b; color:#fff">Reservar</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</section>
<!-- Booking End -->

<section class="ftco-section bg-light">
    <div class="container">
            <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <h2 class="mb-4">Nuestras habitaciones</h2>
      </div>
    </div>    		
        <div class="row">
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="{{url_for('habitaciones')}}" class="img d-flex justify-content-center align-items-center" style="background-image: url({{url_for('static', filename = 'images/room-7.jpg')}});">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="{{url_for('habitaciones')}}">Simple</a></h3>
                        <p><span class="price mr-2">$25.00</span> <span class="per">por noche</span></p>
                        <hr>
                        <p class="pt-1"><a href="{{url_for('habitacion_simple')}}" class="btn-custom">Ver detalles <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="{{url_for('habitaciones')}}" class="img d-flex justify-content-center align-items-center" style="background-image: url({{url_for('static', filename = 'images/room-8.jpg')}});">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="{{url_for('habitaciones')}}">Master</a></h3>
                        <p><span class="price mr-2">$35.00</span> <span class="per">por noche</span></p>
                        <hr>
                        <p class="pt-1"><a href="{{url_for('habitacion_master')}}" class="btn-custom">Ver detalles <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm col-md-6 col-lg-4 ftco-animate">
                <div class="room">
                    <a href="{{url_for('habitaciones')}}" class="img d-flex justify-content-center align-items-center" style="background-image: url({{url_for('static', filename = 'images/room-2.jpg')}});">
                        <div class="icon d-flex justify-content-center align-items-center">
                            <span class="icon-search2"></span>
                        </div>
                    </a>
                    <div class="text p-3 text-center">
                        <h3 class="mb-3"><a href="{url_for('habitaciones')}">Deluxe</a></h3>
                        <p><span class="price mr-2">$80.00</span> <span class="per">por noche</span></p>
                        <hr>
                        <p class="pt-1"><a href="{{url_for('habitacion_deluxe')}}" class="btn-custom">Ver detalles <span class="icon-long-arrow-right"></span></a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}