{% extends 'base.html' %}

{% block title %} Restaurant - Nexus Hotel {% endblock %}
{% block h1 %}Restaurant{% endblock %}

{% block main_content %}
		<section class="ftco-section ftc-no-pb ftc-no-pt">
			<div class="container">
				<div class="row">
					<div class="col-md-5 p-md-5 img img-2 img-3 d-flex justify-content-center align-items-center" style="background-image: url('{{ url_for('static', filename='images/about.jpg') }}');">
					</div>
					<div class="col-md-7 py-5 wrap-about pb-md-5 ftco-animate">
	          <div class="heading-section heading-section-wo-line pt-md-4 mb-5">
	          	<div class="ml-md-0">
		          	<span class="subheading">Sobre Nuestros Restaurants</span>
		            <h2 class="mb-4">Apoyamos la gastronomía</h2>
	            </div>
	          </div>
	          <div class="pb-md-4">
							<p>En nuestros elegantes restaurantes, los chefs de renombre internacional combinan técnicas culinarias tradicionales y contemporáneas, empleando únicamente los ingredientes más frescos y selectos. Cada plato es una obra de arte que refleja nuestro compromiso con la excelencia gastronómica.</p>
							<p>Invitamos a nuestros huéspedes a disfrutar de cenas gourmet y exquisitas selecciones de vinos en un entorno sofisticado y acogedor, brindando una experiencia culinaria memorable que celebra el arte de la buena mesa.</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center mb-5 pb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
            <h2>Nuestro Menu</h2>
          </div>
        </div>
				<div class="row">
        	<div class="col-md-6">
            {% for plato in platos %}
            <div class="pricing-entry d-flex ftco-animate">
              {% if plato['plato'] == 'Bife a la Parrilla con Papas'%}
              <div class="img" style="background-image: url('{{ url_for('static', filename='images/menu-4.jpg') }}');"></div>
              {% endif %}

              {% if plato['plato'] == 'Cheesecake Frutos Rojos'%}
              <div class="img" style="background-image: url('{{ url_for('static', filename='images/menu-1.jpg') }}');"></div>
              {% endif %}

              {% if plato['plato'] == 'Crème Brûlée'%}
              <div class="img" style="background-image: url('{{ url_for('static', filename='images/menu-10.jpg') }}');"></div>
              {% endif %}

              {% if plato['plato'] == 'Ravioles de Langosta'%}
              <div class="img" style="background-image: url('{{ url_for('static', filename='images/menu-9.jpg') }}');"></div>
              {% endif %}

              {% if plato['plato'] == 'Crêpes de Dulce de Leche'%}
              <div class="img" style="background-image: url('{{ url_for('static', filename='images/menu-6.jpg') }}');"></div>
              {% endif %}

              {% if plato['plato'] == 'Filete Mignon con Salsa de Trufas'%}
              <div class="img" style="background-image: url('{{ url_for('static', filename='images/menu-2.jpg') }}');"></div>
              {% endif %}

              {% if plato['plato'] == 'Mousse de Malbec'%}
              <div class="img" style="background-image: url('{{ url_for('static', filename='images/menu-7.jpg') }}');"></div>
              {% endif %}

              {% if plato['plato'] == 'Pescado a la Parrilla con Ensalada'%}
              <div class="img" style="background-image: url('{{ url_for('static', filename='images/menu-5.jpg') }}');"></div>
              {% endif %}

                  <div class="desc pl-3">
                    <div class="d-flex text align-items-center">
                      <h3><span>{{plato['plato']}}</span></h3>
                      <span class="price">${{plato['precio']}}</span>
                    </div>
                    <div class="d-block">
                      <p>{{plato['descripcion']}}</p>
                    </div>
                  </div>
                </div>
            {% endfor %}
              </section>		

{% endblock %}